html body {
  text-align: center;
  background-color: DarkSeaGreen;
}

img {
  width: auto;
  height: 75%;
  border: 1px solid black;
}

ul {
  list-style: none;
}



#album {
  font-style: italic;
}

#section4 {
  height: 100%;
  width: 100%;
}
