html body {
  text-align: center;
  background: #f2f2f2;
}

img {
  width: auto;
  height: 75%;
}

ul {
  list-style: none;
}

h2 {
  margin: auto;
  padding: 20px;
}

.section {
  height: 75%;
  margin: 0 auto;
}

#album {
  font-style: italic;
}
